# Node / Express
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.env

# Vite React Build output
dist/
.vite/

# Editor / OS
.DS_Store
Thumbs.db
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
